{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>Administración de Productos</h1>
    <a href='agregar_producto/' class="btn btn-success mb-3">Agregar Producto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>
                        <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="#"class="btn btn-danger btn-sm"onclick="confirmDelete(event, {{ producto.id }})">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




<script>
    function confirmDelete(productId) {
        event.preventDefault();
        if (confirm("¿Estás seguro de que deseas eliminar este producto?")) {
            fetch(`/admin_panel/admin_productos/eliminar/${productId}/`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",  // Django requiere CSRF para POST
                    "Content-Type": "application/json"
                }
            })
            .then(response => {
                if (response.ok) {
                    location.reload();  // Recargar la página después de eliminar
                } else {
                    alert("Error al eliminar el producto.");
                }
            })
            .catch(error => console.error("Error:", error));
        }
    }
    </script>
{% endblock %}

