<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variedades Don Berriondo</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Archivo CSS externo -->
    <link rel="stylesheet" href="../static/css/estilo_pagina.css">
</head>
<body>
    <div id="navbar-placeholder"></div>

    <!-- Header -->
    <header class="header">
        <div>
            <p>¡Bueno Bonito y Barato!</p>
        </div>
    </header>

    <script>
        fetch('navbar.html')
          .then(response => response.text())
          .then(data => document.getElementById('navbar-placeholder').innerHTML = data);
    </script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
