{% extends 'base.html' %}
{% load static %}
{% block title %}Carrito{% endblock %}

{% block content %}
<h2>Tu carrito</h2>

<div class="container-fluid main">

    {% if request.user.is_authenticated %}
        {% if request.user.carrito_set.all %}

        <h3>Productos en tu carrito:</h3>

        <form method="POST" id="carrito-form">
            {% csrf_token %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in request.user.carrito_set.all %}
                        <tr>
                            <td>{{ item.producto.nombre }}</td>
                            <td>${{ item.producto.precio }}</td>
                            <td>
                                <form method="POST" action="{% url 'update_quantity' item.id %}">
                                    {% csrf_token %}
                                    <input type="number" name="cantidad_{{ item.id }}" value="{{ item.cantidad }}" min="1" class="form-control" onchange="this.form.submit()">
                                </form>
                            </td>
                            <td>${{ item.subtotal}}</td>
                            <td>
                                <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="total-price">
                <h3>Total: ${{ total_price }}</h3>
            </div>

            <div class="checkout">
                <a href="#" class="btn btn-primary">Pagar</a>    
            </div>

        {% else %}
            <p>No hay productos en tu carrito.</p>
        {% endif %}
    {% else %}
        <p>Debes iniciar sesión para ver tu carrito.</p>
    {% endif %}
    
</div>
 


{% endblock %}