{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout | Variedades el Berriondo{% endblock %}

{% block content %}


<div class="col-md-9">
    <div class="main-content tab-content">
        <div class="tab-pane fade show active">

            <!-- overview del pedido como lista -->
            <section class="profile-section bg-white p-4 rounded shadow-sm">
                <h3>Pedido</h3>
                <table class="table checkout-table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Subtotal</th>
                        </tr>
                    <tbody>
                        {% for item in request.user.carrito_set.all %}
                            <tr>
                                <td>{{item.cantidad}} x {{ item.producto.nombre }} á ${{ item.producto.precio }}</td>
                                <td>
                                    <form method="POST" action="{% url 'añadir_otro' item.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="cantidad" value="{{ item.cantidad|add:1 }}">
                                        <button type="submit" class="btn btn-success btn-sm">añadir uno más</button>
                                    </form>
                                <td>${{ item.subtotal}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-between align-items-center">
                    <p><b>Precio total: ${{ total_price }}</b></p>
                    
                    <div class="btn btn-primary">
                        <a href="{% url 'carrito' %}" class="btn btn-primary">Editar carrito</a>    
                    </div>
                </div>
            </section>

            <!--Método de pagar-->
            <section class="profile-section bg-white p-4 rounded shadow-sm">
                <h3>Método de pago</h3>
                <div> 1 - show método de pago available de usuario</div>
                <div> 2 - show form para añadir nuevo método de pago</div>
            </section>

            <!--Dirección de entrega-->
            <section class="profile-section bg-white p-4 rounded shadow-sm">
                <h3>Dirección de entrega</h3>
                <div> 1 - show dirección de entrega de usuario</div>
                <div> 2 - show form para añadir nueva dirección de entrega</div>

                <div class="d-flex justify-content-center mt-4">
                    <a href="{% url 'index' %}" class="btn btn-danger">Pagar</a>    
                </div>
            </section>
       
    </div>
</div>


{% endblock %}