{% extends 'base.html' %}
{% load static %}
{% block title %}Resultados de búsqueda{% endblock %}

{% block content %}
<div class="container-fluid main">

    <!-- Product Detail Section -->
    <div class="container product-detail">
        <div class="row">
            <!-- Imagen del producto -->
            <div class="col-md-6">
                <img src="{% static 'img/placeholder.png' %}" alt="Producto" class="product-image">
            </div>

            <h3>{{producto.nombre}}</h3>

            <!-- Información del producto -->
            <div class="col-md-6">
                <div class="card product-card p-4">
                    <h2 class="card-title">Nombre del Producto</h2>

                    <p class="h2 text-primary">$100.000</p>
                    <button class="btn btn-primary btn-lg mt-3" data-toggle="modal"
                        data-target="#recommendationModal"><i class="fa-solid fa-cart-shopping"></i> Añadir al
                        carrito</button>

                    <!-- Button trigger modal -->


                    <!-- Modal -->
                    <div class="modal fade" id="recommendationModal" tabindex="-1" role="dialog"
                        aria-labelledby="recommendationModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="recommendationModalLabel">¿Y nada mas va a llevar eso?
                                        Se va a hacer coger tristeza</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="productCarousel" class="carousel slide" data-ride="carousel"
                                        data-interval="3000">
                                        <div class="carousel-inner">
                                            <!-- Producto 1 -->
                                            <div class="carousel-item active">
                                                <div class="d-flex justify-content-center">
                                                    <img src="../static/images/sopita.png" class="d-block"
                                                        alt="Producto 1">
                                                </div>
                                                <div class="text-center mt-2">
                                                    <h6>Producto 1</h6>
                                                    <p>$20.00</p>
                                                    <button class="btn btn-primary btn-sm">Ver producto</button>
                                                </div>
                                            </div>
                                            <!-- Producto 2 -->
                                            <div class="carousel-item">
                                                <div class="d-flex justify-content-center">
                                                    <img src="../static/images/sopita.png" class="d-block"
                                                        alt="Producto 2">
                                                </div>
                                                <div class="text-center mt-2">
                                                    <h6>Producto 2</h6>
                                                    <p>$25.00</p>
                                                    <button class="btn btn-primary btn-sm">Ver producto</button>
                                                </div>
                                            </div>
                                            <!-- Producto 3 -->
                                            <div class="carousel-item">
                                                <div class="d-flex justify-content-center">
                                                    <img src="../static/images/sopita.png" class="d-block"
                                                        alt="Producto 3">
                                                </div>
                                                <div class="text-center mt-2">
                                                    <h6>Producto 3</h6>
                                                    <p>$30.00</p>
                                                    <button class="btn btn-primary btn-sm">Ver producto</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Controles del carrusel -->
                                        <a class="carousel-control-prev" href="#productCarousel" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"
                                                style="background-color: #343a40;"></span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                        <a class="carousel-control-next" href="#productCarousel" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"
                                                style="background-color: #343a40;"></span>
                                            <span class="sr-only">Siguiente</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <!-- Categorías -->
        <div class="row categories">
            <div class="col-12">
                <span>Tecnologia</span>
                <span>Artículos de hogar</span>
                <span>Ofertas</span>
            </div>
        </div>

        <!-- Descripción -->
        <div class="row description mt-4">
            <div class="col-12">
                <h2>Descripción:</h2>
                <p>
                    Este es un producto de alta calidad que ofrece un excelente rendimiento y durabilidad.
                    Perfecto para aquellos que buscan funcionalidad y estilo en un solo artículo.
                </p>
            </div>
        </div>
    </div>

    <!-- Suggestions Section -->
    <div class="container suggestions">
        <h3>Productos Similares</h3>
        <div class="suggestion">
            <img src="https://via.placeholder.com/150" alt="Producto Sugerido 1">
            <h4>Producto Sugerido 1</h4>
            <p>Precio: $20.00</p>
        </div>
        <div class="suggestion">
            <img src="https://via.placeholder.com/150" alt="Producto Sugerido 2">
            <h4>Producto Sugerido 2</h4>
            <p>Precio: $18.00</p>
        </div>
        <div class="suggestion">
            <img src="https://via.placeholder.com/150" alt="Producto Sugerido 3">
            <h4>Producto Sugerido 3</h4>
            <p>Precio: $22.00</p>
        </div>
    </div>
</div>

{% endblock %}